.custom-nav{
    padding: 0px !important;
    padding-top:0px !important;
}
.modal-backdrop {
    position: absolute;
   z-index: unset;
}
.charge{
    background: #761a89;
    width: 100% !important;
}
.modal-body {
    padding-top: 0 !important;
}
.rose-btn {
    /* background-color: #e91e63; */
    color: #FFFFFF;
    margin: 0px;
}

.download-gold {
    /* background: #ff9800; */
    color: #FFFFFF;
    margin: 0px;
}
.download-dnc {
    background:rgb(22, 92, 255) !important;
    color: #FFFFFF;    
    margin: 0px;
}
.dropdown-menu li>a{
    color: black;
}
